@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.swal2-styled{
    background: linear-gradient(180deg,#57ae80,#406e58) !important;
}
@font-face {
    font-family: Scada;
    src: url('../fonts/Scada.ttf');
}
@font-face {
    font-family: Scada Bold;
    src: url('../fonts/Scada_bold.ttf');
}
@font-face {
    font-family: Scada Bold Italic;
    src: url('../fonts/Scada_bold_italic.ttf');
}
@font-face {
    font-family: Scada Italic;
    src: url('../fonts/Scada_italic.ttf');
}
body, html {
    font-size: 16px;
    background: #f6f6f6;
    padding-right: 0px !important;
    overflow-y: visible !important;
}
.container{
    max-width: 1170px !important; ;}
p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
.header{
    background: #FFFFFF;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
.header_align{
    align-items: center;
}
.logo{
    height: 67px;
}
.main{
    background-color: #f6f6f6;
}
.work-time p{
    color: #5a4942;
    font: 16px 'Scada',sans-serif;
    margin-bottom: 10px;
}
.work-time p:last-child{
    margin-bottom: 0px;
    padding-top: 3px;
}
.work-time a{
    color: #48cf88;
    font: 16px 'Scada',sans-serif;
}
.work-time select{
    width: 100%;
    text-align: center;
    border: transparent;
    appearance: none;
    -webkit-appearance: none;
    background: url("../images/select-arrow.png") 90% center no-repeat;
    color: #48cf88;
    text-decoration: underline;
    outline: none;
}
.work-time select:focus{

}
.space-top-sm{
    margin-top: 20px;
}
.search {
    display: flex;
}
.icon-row{
    display: flex;
}
.icon-row img{
    width: 25px;
    margin-right: 10px;
}
.icon-row a{
    position: relative;
}
.icon-row a span{
    position: absolute;
    right: -5px;
    top: -10px;
    background: #5a4942;
    color: #FFFFFF;
    padding: 4px 9px;
    border-radius: 50%;
    font: 15px 'Scada',sans-serif;
}
.menu {
    display: flex;
    cursor: pointer;
}
.menu p{
    margin-top: 17px;
    font: 16px 'Scada',sans-serif;
    color: #5d4c45;
    text-transform: uppercase;
}
.close-menu{
    display: none;
}
.menu .hamburger{
    color: #5d4c45;
}
.menu-level1 {
    display: none;
    padding: 20px;
    top: 90px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 99999;
    width: 312px;
    height: 520px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, .2);
}
.menu-level1 ul{
    list-style: none;
    padding-left: 0;
}
.menu-level1 ul li{
    padding: 5px 0;
}
.menu-level1 .icon {
    width: 60px;
}
.menu-level1 .icon img{
    display: block;
    margin: auto;
}
.menu-level1 ul li a{
    display: flex;
    text-decoration: none;
}
.menu-level1 ul li p{
    width: 80%;
    text-align: left;
    font: 17px 'Scada',sans-serif;
    color: #5a4942;
}
.menu-level1 ul li span{
    color: #48cf88;
}
.menu-level1 ul li a:hover p{
    color: #48cf88;
    transition: all .3s ease-in-out;
}
.menu-level1 ul li a:hover {
    color: #5a4942 !important;
}
.menu-level2{
    top: 198px;
    position: absolute;
    justify-content: space-between;
    z-index: 999;
    background-color: #FFFFFF;
    padding: 20px;
    width: 70%;
    left: 385px;
    height: 520px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 200px;
}
/*.menu-level2::-webkit-scrollbar {*/
/*    height: 4px;*/
/*    width: 4px;*/
/*    background-color: #dcdcdc;*/
/*    color: #44c883;*/
/*}*/
.menu-level2::-webkit-scrollbar {
    height: 7px;
    width: 4px;
}
.menu-level2::-webkit-scrollbar-track {
    background: #dcdcdc;
}
.menu-level2::-webkit-scrollbar-thumb {
    background: #44c883;
}
.menu-level2::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.menu-level2 .row{
    flex-wrap: nowrap;
}
.hidden-menu{
    display: none;
}
.menu-level2 ul{
    list-style-type: none;
    padding-left: 20px;
}
.menu-level2 ul li{
    padding: 0 10px;
}
.menu-level2 ul li a{
    color: #5a4942;
    font: 17px/36px 'Scada',sans-serif;
    text-decoration: none;
}
.menu-level2 ul li:hover a{
    color: #ffffff;
    transition: all .3s ease-in-out;
}
.menu-level2 ul li:hover{
    background: #44c883;
    transition: all .3s ease-in-out;
}
.search input{
    width: 80%;
    border: 1px solid #3e6855;
    border-radius: 7px;
    height: 42px;
    outline: none;
    padding-left: 20px;
}
.search input::placeholder{
    font: 16px 'Scada',sans-serif;
    color: #5a4942;
}
.search button{
    border: none;
    background: linear-gradient(180deg,#57ae80,#406e58);
    padding: 5px;
    height: 42px;
    border-radius: 7px;
    width: 25%;
    color: #FFFFFF;
    font: 17px 'Scada',sans-serif;
    margin-left: -10px;
    cursor: pointer;
}
.search button img{
    margin-right: 10px;
}
.search button:hover{
   transition: all .3s ease-in-out;
    background: linear-gradient(180deg,#406e58,#57ae80);
}
.auth a,
.register a{
    font: 16px 'Scada',sans-serif;
    color: #5a4942;
}
.auth a:hover,
.register a:hover{
    color: #57ae80;
    transition: all .3s ease-in-out;
}
.main-img{
    background: url("../images/main-img.jpg") no-repeat;
    min-height: 509px;
    background-size: cover;
}
.category-hover-block{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: -80px auto 0;
}
.category-hover-item a{
    text-decoration: none;
}
.category-hover-item a:hover {
	text-decoration: none !important;
}
.category-hover-item{
    background: #FFFFFF;
    border-radius: 10px;
    width: 196px;
    padding: 20px;
    margin: 0px 10px;
}
.category-hover-item .category-hover-img{
    height: 98px;
    overflow: hidden;
}
.category-hover-item img{
    display: block;
    margin: 10px auto 10px;
    overflow: hidden;
}
.category-hover-item p{
    text-align: center;
    padding-top: 10px;
    color: #5a4942;
    font: 18px 'Scada Bold',sans-serif;
}
.category-hover-item:hover {
    transition: all .3s ease-in-out;
    background-color: #48d088;
}
.category-hover-item:hover p{
    transition: all .3s ease-in-out;
    color: #FFFFFF;
}
.category-hover-item:hover img{
    margin-top: -108px;
    transition: all .3s ease;
}
.main-title{
    margin: 50px 0;
}
.main-title h2{
    font: 30px 'Scada',sans-serif;
    color: #5a4942;
    text-transform: uppercase;
    text-align: center;
}
.main-title .sep{
    background-color: #48cf88;
    border-radius: 10px;
    height: 5px;
    width: 50px;
    display: block;
    margin: 10px auto;
}
.main-title .count{
    margin-left: 20px;
    color: #FFFFFF;
    font: 10px 'Century Gothic',sans-serif;
    padding: 3px 7px;
    border-radius: 50%;
    background: linear-gradient(180deg, #3f6b57 0%, #48cf88 100%);
    height: 20px;
    width: 20px;
}
.nav-tabs{
    border: 1px solid #5a4942;
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
}
.nav-tabs .nav-link {
    border: none;
    font: 18px 'Scada',sans-serif;
    color: #5a4942;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #FFFFFF !important;
    background-color: #5a4942 !important;
    border:  none;
    border-radius: 0;
    margin-top: -1px;
}

.nav-tabs .nav-item{
    width: 33.33%;
    text-align: center;
}
.tab-content{
    padding: 50px 0;
}
.catalog-item{
    margin-bottom: 30px;
    padding: 20px 20px 30px;
    background-color: #FFFFFF;
    position: relative;
}
.add-to-fav a img, 
.delete-from-fav a img {
    position: absolute;
    right: 20px;
    top: 35px; 
}
.add-to-fav a:hover img,
.delete-from-fav a:hover img{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.promo img{
    position: absolute;
    left: 0;
    top: 0;
}
.catalog-item .image img {
    display: block;
    margin: 50px auto 20px;
    max-height: 104px;
}
.catalog-item .name p{
    font: 16px/22px 'Scada',sans-serif;
    color: #5a4942;
    height: 66px;
    overflow: hidden;
    text-align: center;
}
.catalog-item .name span{
    font: 14px/22px 'Scada',sans-serif;
    color: #5a4942;
}
.catalog-item .price p{
    color: #48d088;
    font: 24px/22px 'Open Sans Semibold',sans-serif;
    text-align: center;
    margin: 20px 0 ;
}
.catalog-item .price span{
    text-decoration: line-through;
    color: #adadad;
    font: 18px/22px 'Open Sans Semibold',sans-serif;
    text-align: center;
}
.catalog-item .image .red-label {
    font: 14px 'Century Gothic',sans-serif;
    color: #ffffff;
    padding: 5px 10px 7px 12px;
    position: absolute;
    border-radius: 0px 0 0 12px;
    top: 0;
    right: 1px;
    font-weight: 600;
    background-color: #ef4430;
}
.red-label{
    font: 9px 'Century Gothic',sans-serif;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    border-radius: 3px 0 0 3px;
    top: 0;
    right: -20px;
    background-color: #DF2A2A;
}


.basket a{
    display: block;
    margin: auto;
    background: linear-gradient(#57af81,#3f6b57);
    color: #FFFFFF;
    font: 16px/22px 'Scada',sans-serif;
    width: 145px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.basket a img{
    margin-right: 10px;
}
.basket:hover a{
    background: linear-gradient(#5a4942,#5a4942);
    transition: all .3s ease-in-out;
}
.basket button{
    display: block;
    margin: auto;
    background: linear-gradient(#57af81,#3f6b57);
    color: #FFFFFF;
    font: 16px/22px 'Scada',sans-serif;
    width: 145px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.apply button{
    display: block;
    margin: auto;
    background: linear-gradient(#57af81,#3f6b57);
    color: #FFFFFF;
    font: 16px/22px 'Scada',sans-serif;
    width: 145px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.basket button img{
    margin-right: 10px;
}
.basket:hover button{
    background: linear-gradient(#5a4942,#5a4942);
    transition: all .3s ease-in-out;
}
.catalog-item:hover{
    box-shadow: 1px 5px 15px rgba(0, 0, 0, .2);
}
.carousel-indicators{
    bottom: -40px;
}
.carousel-indicators li{
    background-color: #5a4942 !important;
    height: 7px;
    border-radius: 3px;

}
.carousel-indicators .active {
    background-color: #5a4942;
}
.show-all a{
    display: block;
    text-align: center;
    margin: 30px auto 50px;
    width: 230px;
    height: 40px;
    font: 16px 'Scada',sans-serif;
    color: #51d28e;
    text-transform: uppercase;
    background: #FFFFFF;
    padding: 10px 30px;
    text-decoration: none;
}
.show-all a:hover{
    background-color: #51d28e;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
}
.pills-bg{
    background: url("../images/section-bg.jpg") no-repeat;
    height: 240px;
    background-size: cover;
    padding: 50px 0;
}
.pills-bg h2{
    font: 32px 'Scada',sans-serif;
    color: #FFFFFF;
    text-align: center;
}
.pills-bg input{
    display: block;
    margin: 30px auto 15px;
    border: 1px solid #FFFFFF;
    width: 270px;
    height: 40px;
    border-radius: 3px;
    background: transparent;
    font: 16px 'Scada',sans-serif;
    color: #FFFFFF;
    outline: none;
}
.pills-bg input::placeholder{
    font: 16px 'Scada',sans-serif;
    color: #FFFFFF;
    text-align: center;
}
.send a{
    display: block;
    width: 200px;
    margin: auto;
    font: 18px 'Scada',sans-serif;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px;
    text-decoration: none;
}
.send a:hover{
    transition: all .3s ease-in-out;
    border: 1px solid #FFFFFF;
}
.send button{
    display: block;
    width: 200px;
    margin: auto;
    font: 18px 'Scada',sans-serif;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px;
    text-decoration: none;
}
.send button:hover {
    transition: all .3s ease-in-out;
    border: 1px solid #FFFFFF;
    background: transparent;
}
.map{
    position: relative;
    margin-bottom: 50px;
}
.map-search {
    display: flex;
    position: absolute;
    top: 30px;
    width: 80%;
    left: 10%;
}
.map-search input{
    width: 80%;
    border: 1px solid #3e6855;
    border-radius: 7px;
    height: 42px;
    outline: none;
    padding-left: 20px;
}
.map-search input::placeholder{
    font: 16px 'Scada',sans-serif;
    color: #5a4942;
}
.map-search button{
    border: none;
    background: linear-gradient(180deg,#57ae80,#406e58);
    padding: 5px;
    height: 42px;
    border-radius: 7px;
    width: 15%;
    color: #FFFFFF;
    font: 17px 'Scada',sans-serif;
    margin-left: -10px;
    cursor: pointer;
}
.map-search button img{
    margin-right: 10px;
}
.map-search button:hover{
    transition: all .3s ease-in-out;
    background: linear-gradient(180deg,#406e58,#57ae80);
}


/*           */
.about-text p{
    color: #5a4942 ;
    font: 17px/30px 'Scada',sans-serif;
}

.more-btn{
    margin: 20px 0;
}
.more-btn a{
    background: linear-gradient(#57af81,#3f6b57);
    color: #FFFFFF;
    font: 16px/22px 'Scada',sans-serif;
    height: 45px;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.more-btn:hover a {
    background: linear-gradient(#3f6b57,#57af81);
    transition: all .3s ease-in-out;
    color: #fff;
}
.footer {
    background-color: #FFFFFF;
    padding: 40px 0;
}

.fot-list{
    margin-top: 4px;
}

.fot-list p{
    color: #48cf88;
    font: 14px/30px 'Scada',sans-serif;
}
.fot-list ul{
    list-style: none;
    padding-left: 0;
}
.fot-list ul li a{
    text-decoration: none;
    color: #5a4942;
    font: 14px/30px 'Scada',sans-serif;
}
.fot-list ul li a:hover{
    color: #48cf88;
    transition: all .3s ease-in-out;
}
.fot-text h6{
    color: #1e0000;
    font: 14px 'Scada',sans-serif;
    margin-top: 1px;
}
.fot-text h6 i{
    margin-right: 10px;
    width: 20px;
    color: #48d088;
    font-size: 15px;
    margin-top: 10px;
}
.fot-text p{
    color: #5a4942;
    font: 14px/24px 'Scada',sans-serif;
    margin-left: 30px;
    margin-bottom: 10px;
}
.fot-text a{
    text-decoration: none;
    color: #48d088;
}
.fot-text p{
    margin-top: 9px;
}
.no-space-left{
    margin-left: 0 !important;
}
.call-btn{
    margin: 30px 0;
}
.call-btn a{
    background: linear-gradient(#57af81,#3f6b57);
    color: #FFFFFF;
    font: 16px/22px 'Scada',sans-serif;
    height: 45px;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.call-btn a img{
    margin-right: 10px;
}
.call-btn:hover a {
    background: linear-gradient(#3f6b57,#57af81);
    transition: all .3s ease-in-out;
    color: #fff;
}
.socials{
    display: flex;
}
.socials ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}
.socials p {
    color: #5a4942;
    font: 14px/24px 'Scada',sans-serif;
}
.socials a i{
    background-color: #48d088;
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color: #FFFFFF;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials a:hover i{
    color: #406e59;
    transition: all .3s ease-in-out;
}
.dark-footer{
    background-color: #5a4942;
    padding: 20px 0;
}
.copyright p{
    color: #FFFFFF;
    font: 16px 'Scada',sans-serif;
}
.dev-link{
    float: right;
}
.dev-link a{
    color: #FFFFFF;
    font: 16px 'Scada',sans-serif;
    text-decoration: none;
}
.desktop-version{
    display: block;
    margin-top: 205px;
}
.mobile-version{
    display: none;
}

#main-nav {
    display: none !important;
}
/*inner pages*/
.bread-crumbs ul{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
}
.bread-crumbs ul li{
    margin: 0 5px;
}
.bread-crumbs ul li a{
    color: #6b6b6b;
    font: 12px 'Scada',sans-serif;
    text-decoration: none;
}
.bread-crumbs ul li a:hover{
    transition: all .3s ease-in-out;
    color: #48cf88;
}
.bread-crumbs ul li:last-child{
    color: #48cf88;
    font: 12px 'Scada',sans-serif;
    margin-top: 7px;
}
.bg-white{
    padding: 25px;
    margin-bottom: 20px;
}
.inner-title h3{
    color: #5a4942;
    font: 30px 'Scada',sans-serif;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.catalog-categories{
    display: flex;
    flex-wrap: wrap;
}
.catalog-categories {
    list-style-type: none;
    padding-left: 0;
    margin-right: 30px;
}
.catalog-categories .list-item p{
    font: 16px 'Scada',sans-serif;
    color: #5a4942;
    text-decoration: none;
    margin-bottom: 20px;
}

.row-list .back-link a{
    font: 16px 'Scada',sans-serif;
    color: #5a4942;
    text-decoration: none;
    margin-bottom: 20px;
}

.rotate2{
    transition: all .3s ease-in-out;
    transform: rotate(90deg);
}
.sublist ul li{
    list-style-type: none;
}
.sublist ul li a{
    font: 16px 'Scada',sans-serif;
    color: #5a4942;
    text-decoration: none;
}
.sublist ul li a:hover{
    transition: all .3s ease-in-out;
    color: #48cf88;
}
.box-title h6{
    color: #5a4942;
    font: 16px 'Scada',sans-serif;
}
.filter-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.filter-row p{
    width: 20%;
    color: #5a4942;
    font: 16px 'Scada',sans-serif;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.filter-row p > label{
    margin-bottom: 0px;
}
.filter-row input{
    border: none;
    background-color: #f6f6f6;
    margin-right: 5px;
    color: #5a4942;
    font: 16px 'Scada',sans-serif;
    text-align: center;
    height: 37px;
    outline: none;
}
.checkbox-list ul{
    list-style-type: none;
    padding-left: 0;
    color: #5a4942;
    font: 15px 'Scada',sans-serif;
}
.checkbox-button {
    cursor: pointer;
}

.checkbox-button  input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.checkbox-button  input {
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
}

.checkbox-button__input {
    opacity: 0;
    position: absolute;
}

.checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #666;
}

.checkbox-button__input:checked+.checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-color: #01a982;
}

.checkbox-button__input:checked+.checkbox-button__control {
    border-color: #01a982;
}

.checkbox-button__control {
    transform: scale(0.75);
}
.gift img{
    display: block;
    margin: 0 auto 10px;
}
.gift p{
    color: #5a4942;
    font: 15px/24px 'Scada',sans-serif;
    text-align: center;
}
.pagination ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    margin: 20px 0 50px;
}
.pagination ul li{
    padding: 0 5px;
}
.pagination ul li a{
    color: black;
    font: 16px/24px 'Scada',sans-serif;
}


.pagination ul .active > a{
    color: #48cf88;
}


.product-img{
    background-color: #FFFFFF;
    padding: 30px;
}
.product-img img{
    display: block;
    margin: auto;
}
.product-price p{
    color: #5a4942;
    font: 30px 'Scada',sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
}
.product-price span{
    font-size: 10px;
    line-height: 12px;
}
.product-price span{
    text-decoration: line-through;
    color: #adadad;
    font: 18px/22px 'Open Sans Semibold',sans-serif;
    text-align: center;
}
.count-input{
    display: flex;
    justify-content: space-around;
    width: 175px;
}
.count-input input{
    border: none;
    background-color: transparent;
    font: 16px 'Scada',sans-serif;
    color: #5a4942;
    text-align: center;
    width: 60px;
}
.count-input input::-webkit-outer-spin-button,
.count-input input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.count-input input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.count-input span{
    color: #48cf88;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.btn-operation{
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 40px;
}
.button-row{
    margin: 50px 0;
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.basket-dark button{
    background-color: #5a4942 !important;
    border-radius: 5px;
    padding: 5px 30px;
    font: 16px 'Scada',sans-serif;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border: none;
}
.basket-dark button img{
    margin-right: 10px;
}
.button-row button{
    background-color: #a6a6a6;
    border-radius: 5px;
    padding: 5px 30px;
    font: 16px 'Scada',sans-serif;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border: none;
}
.product-description ul{
    margin: 30px 0;
    list-style-type: none;
    padding-left: 0;
}
.product-description ul li{
    display: flex;
    font: 15px 'Scada',sans-serif;
    color: #5a4942;
    padding: 5px 0;
}
.product-description ul li p{
    width: 150px;
}
.text-left h2{
    text-align: left !important;
}
.table thead tr th{
    font: 16px 'Roboto',sans-serif;
    color: #1e0000;
}
.table thead th, .table td{
    border: none;
}
.table tbody tr td{
    background: #FFFFFF;
    padding: 20px;
    vertical-align: middle;
}
.btn-operation-minus{
    background-color: #e8e8e8;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 40px;
}
.btn-operation-plus{
    background-color: #e8e8e8;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 40px;
}
.promo-product-item img{
    position: flex;
}
.product-item{
    display: flex;
}
.product-item .image{
    width: 100px;
    font: 14px 'Roboto Thin',sans-serif;
    margin-right: 40px;
}
.product-item .image img{
    display: block;
    margin: auto;
    max-width: 100px;
}
.product-item .text-block h6{
    margin-top: 20px;
    font: 16px 'Roboto',sans-serif;
}
.product-item .text-block p{
    font: 14px 'Roboto Thin',sans-serif;
}
.clear-basket div{
    font: 16px 'Roboto',sans-serif;
    color: #48cf88;
    text-decoration: none;
    cursor: pointer;
}
.clear-basket img{
    margin-right: 10px;
}

.total-cost{
    text-align: right;
}
.total-cost p{
    color: #1e0000;
    font: 16px 'Roboto',sans-serif;
    margin-right: 10px;
}
.total-cost p span{
    color: #ffffff;
    background-color: #a6a6a6;
    padding: 5px 15px;
    border-radius: 5px;
}
.bonus-cost{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font: 14px 'Century Gothic',sans-serif;
}

.bonus-costt{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    font: 14px 'Century Gothic',sans-serif;
}

.bonus-costt input{
   width: 20%;
}

.bonus-cost p{
    color: #1e0000 ;
    font: 16px 'Roboto',sans-serif;
}
.delete-icon a:hover img,
.clear-basket a:hover img{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.delete-icon:hover img{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}
.order-btn{
    margin: 40px 0;
}
.order-btn button{
    font: 16px 'Roboto',sans-serif;
    color: #ffffff;
    background: #1e0000;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}
.order-btn button:hover{
    transition: all .3s ease-in-out;

}

.green-title h2{
    color: #45c091;
    font: 30px 'Scada',sans-serif;
    text-transform: uppercase;
}
.m-lg{
    margin: 60px 0;
}
.green-text{
    color: #45c091 !important;
}
.about-us-text p{
    color: #5a4942 ;
    font: 17px/30px 'Scada',sans-serif;
}
.about-us-text img{
    float: left;
    padding: 0 20px 20px 0;
}
.about-item{
    display: flex;
    width: 100%;
    margin: 30px 0;
}
.about-item p{
    margin-left: 30px;
    color: #5a4942;
    font: 17px/30px 'Scada',sans-serif;
}
.history-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.history-item{
    margin-bottom: 30px;
}
.history-item img{
    display: block;
    margin: 0 auto 20px;
}
.history-item p{
    font: 18px 'Scada',sans-serif;
    color: #1e0000;
    text-align: center;
}
.service-item{
    border: 1px dashed #45c091;
    padding: 30px;
    border-radius: 10px;
    height: 190px;
    margin: 30px 0;
}
.service-item img{
    display: block;
    margin: 0 auto 20px;
}
.service-item p{
    font: 16px 'Scada',sans-serif;
    color: #1e0000;
    text-align: center;
}
.review-item{
    margin-bottom: 40px;
}
.review-item .date p{
    font: 12px 'Roboto',sans-serif;
    color: #5a4942;

}
.review-item .text p,
.review-item .name p{
    font: 16px 'Roboto',sans-serif;
    color: #5a4942;
    margin: 20px 0;
}
.comment-title h5{
    color: #5a4942;
    font: 24px 'Scada',sans-serif;
}
.comment-input label{
    color: #5a4942;
    font: 16px 'Scada',sans-serif;
}
.comment-input input{
    width: 100%;
    border-radius: 3px;
    background-color: #f1f1f1;
    border: none;
    margin-bottom: 10px;
}
.comment-input textarea{
    padding: 20px;
    width: 100%;
    border-radius: 3px;
    background-color: #f1f1f1;
    border: none;
    margin-bottom: 10px;
    height: 160px;
}
.send-btn a{
    text-decoration: none;
    background: linear-gradient(180deg, #57af80,#3f6a57);
    font: 16px 'Scada',sans-serif;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 30px;
}
.send-btn a:hover{
    transition: all .3s ease-in-out;
    background: linear-gradient(180deg, #3f6a57,#57af80);
}
.send-btn button{
    text-decoration: none;
    background: linear-gradient(180deg, #57af80,#3f6a57);
    font: 16px 'Scada',sans-serif;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 30px;
}
.send-btn button:hover{
    transition: all .3s ease-in-out;
    background: linear-gradient(180deg, #3f6a57,#57af80);
}
.pick-city{
    display: flex;
    margin-bottom: 30px;
}
.pick-city p{
    color: #5a4942;
    font: 16px 'Scada',sans-serif;
}
.pick-city select{
    margin-left: 10px;
    margin-top: -5px;
    color: #57af81;
    font: 20px 'Scada Bold',sans-serif;
    text-decoration: underline;
    border: 1px solid transparent;
    outline: none;
}
.pick-city select:focus{
    transition: .3s ease-in-out;
    border:1px solid #57af81;
}
.drugstore-item{
    margin-bottom: 20px;
}
.drugstore-item p{
    color: #5a4942;
    font: 17px/26px 'Scada',sans-serif;
}
/*end inner pages*/
@media (max-width: 576px) {
    .mobile-version{
        display: block;
    }
    .mobile-version .mobile-main-banner {
        width: 100%;
    }
    .mobile-version .mobile-icons {
        display: flex;
        overflow: auto;
    }
    .desktop-version{
        display: none;
    }
    .mobile-header{
        background-color: #FFFFFF;
        padding: 10px 0;
    }
    .mobile-row{
        display: flex;
        justify-content: space-between;
    }
    .logo a img{
        width: 75%;
        margin-left: 20%;
    }
    .icon-row img {
        width: auto;
        margin: 0;
    }
    .icon-row a span {
        position: absolute;
        right: -8px;
        top: -7px;
        padding: 4px 7px;
        font: 10px 'Scada',sans-serif;
    }
    .mobile-search{
        background-color: #48d088;
        height: 50px;
        padding: 10px 0;
    }
    .mobile-search input,
    .mobile-search button{
        background: transparent;
        border: none;
        outline: none;
        color: #FFFFFF;
    }
    .mobile-search input::placeholder{
        color: #FFFFFF;
    }
    .mobile-search input{
        width: 90%;
    }
    .category-hover-item {
        width: 200px;
        height: 180px;
        display: block;
        margin: auto;
    } 
    .category-hover-item:hover a {
        text-decoration: none !important;
    }
    .category-hover-item img {
        width: auto !important;
        margin: 0 auto 10px;
    }
    .category-hover-item p {
        font-size: 13px;
    }
    .owl-carousel .item{
        display: block;
        margin: auto;
    }
    .owl-theme .owl-dots .owl-dot{
        display: inline;
        outline: none;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 30px;
        margin: 5px 7px;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        background: #dddada;
        height: 7px;
        border-radius: 3px;
        outline: none;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #5a4942;
    }
    .owl-carousel{
        margin: 30px 0;
    }
    .hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
        background: #1E0000 !important;
        border-top: 1px solid #1E0000 !important;
        border-bottom: 1px solid #1E0000 !important;
    }
    .hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
        background: #1E0000 !important;
    }
    .hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item{
        border-bottom: none !important;
    }
    .nav-content li:hover{
        background: #48D088 !important;
    }
    .nav-content li img{
        margin-right: 10px;
    }
    .main-title{
        margin: 30px 0;
    }
    .main-title h2{
        font-size: 16px;
        font-family: Scada Bold;
    }
    .square-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .square-flex .catalog-item{
        width: 50%;
        margin: 0;
        padding: 10px;
    }
    .square-flex .catalog-item{
        border-bottom: 1px solid  #F6F6F6;
        border-right: 1px solid #F6F6F6;
    }
    .mobile-version .catalog-item .image img {
        width: 100%;
    }
    .catalog-item .image img {
        width: auto;
    }
    .basket a{
        font-size: 10px;
        width: 94px;
        height: 24px;
        padding: 0;
    background: linear-gradient(90deg, #36967F 0%, #48D088 100%);
    }
    .basket img{
        height: 13px;
    }
    .catalog-item .name p,
    .catalog-item .name span{
        font-size: 12px;
        line-height: 14px;
        margin-top: 5px;
    }
    .catalog-item .price p{
        font-size: 14px;
        line-height: 16px;
        margin: 5px 0;
    }
    .catalog-item .price span{
        font-size: 10px;
        line-height: 12px;
    }
    .see-all {
        background-color: #FFFFFF;
        text-align: center;
        padding: 10px 0;
        font: 12px 'Scada',sans-serif;
        text-transform: uppercase;
    }
    .see-all a{
        color: #48d088;
    }
    .new-item{
        padding: 20px 0;
        background-color: #FFFFFF;
        border-bottom: 1px solid #F6F6F6;
        display: flex;
        justify-content: space-between;
    }
    .new-item .image img{
        width: 92px;
        margin-right: 10px;
    }
    .new-item .name p{
        font: 14px/16px 'Scada',sans-serif;
        color: #5a4942;
        height: 48px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .new-item .price p{
        color: #48d088;
        font: 14px/16px 'Open Sans Semibold',sans-serif;
    }
    .new-item-row{
        display: flex;
        justify-content: space-between;
    }
    .new-item-row .basket{
        margin-right: 10px;
    }
    .new-item .price span{
        text-decoration: line-through;
        color: #adadad;
        font: 18px/22px 'Open Sans Semibold',sans-serif;
        text-align: center;
    }
    .new-item .image .red-label{
        font: 9px 'Century Gothic',sans-serif;
        color: #ffffff;
        padding: 5px;
        position: absolute;
        border-radius: 3px 0 0 3px;
        top: 0;
        right: -20px;
        background-color: #DF2A2A;
    }

    .about-text p{
        margin: 20px 0;
        font: 10px/12px 'Scada',sans-serif;
        color: #5a4942;
        padding: 0 15px;
    }
    .show-more img{
        display: block;
        margin: -30px auto 0;
    }
    .rotate{
        margin: 0 auto !important;
        transition: all .3s ease-in-out;
        transform: rotate(180deg);
    }
    .rotate2{
        margin: 0 auto !important;
        transition: all .3s ease-in-out;
        transform: rotate(90deg);
    }
    .collapse-dark-block{
        margin-top: 20px;
        background-color: #5A4942;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    .collapse-dark-block p{
        font: 14px/16px 'Scada',sans-serif;
        color: #FFFFFF;
    }
    .collapse-block-light{
        background-color: #FFFFFF;
        padding: 20px;
        border-bottom: 1px solid #F6F6F6;
    }
    .collapse-block-light a{
        display: flex;
        justify-content: space-between;
        text-decoration: none;
    }
    .collapse-block-light p{
        font: 14px/16px 'Scada',sans-serif;
        color: #5A4942;
    }
    .sublist ul{
        list-style-type: none;
        background-color: #FFFFFF;
        padding-left: 0;
    }
    .sublist ul li{
        padding: 10px 0;
        border-bottom: 1px solid #F6F6F6;
    }
    .sublist ul li a{
        font: 14px/16px 'Scada',sans-serif;
        color: #5A4942;
        padding-left: 40px;
    }
    .toggle-open{
        font-size: 20px;
        color: #5A4942;
    }
    .mobile-footer{
        background-color: #5A4942;
        padding: 20px;
    }
    .mobile-footer .copyright p{
        font: 14px/16px 'Scada',sans-serif;
        text-align: center;
        margin-bottom: 10px;
    }
    .mobile-footer .copyright a{
        color: #48D088;
    }
    .fot-text a{
        color: #48d088;
    }
    .button-row {
        width: auto;
    }
    .button-row button{
        padding: 5px 20px;
    }
    .about-item {
        display: block;
    }
    .about-item img{
        display: block;
        margin: 0 auto 20px;
    }
    .about-item p{
        margin: 0;
    }

}

@media (min-width: 576px) and (max-width: 768px){
    .icon-row {
        display: flex;
        float: right;
    }
    .work-time{
        margin-bottom: 20px;
    }
}

/*Nurbek*/
/* job page */
.jobs .jobs-page-link {
    display: flex;
    flex-direction: row;
    padding-top: 27px;
}
.jobs .jobs-page-link li {
    color: #6b6b6b;
    font-size: 16px;
}
.jobs .jobs-title {
    color: #5a4942;
    font-size: 30px;
    font-family: "scada";
    text-transform: uppercase;
    padding-top: 41px;
}
.jobs .job-card {
    padding: 1rem;
}
.jobs .job-card .job-card-title {
    color: #498668;
    font-family: "scada-bold";
    font-size: 18px;
}
.jobs .job-card .job-card-text {
    color: #5a4942;
    font-family: "scada";
    line-height: 29px;
}
.jobs .job-card ul {
    display: flex;
    padding: 0;
}
.jobs .job-card ul :first-child {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.jobs .job-card ul li {
    color: #acacac;
    margin-left: 4rem;
    padding-left: 1rem;
}
.jobs .job-card ul li span {
    color: #5a4942;
    font-family: "scada";
    position: relative;
    left: 1rem;
    bottom: 0.1rem;
}
.jobs .job-card ul .salary:before {
    content: url(../images/jobs/money.png);
    position: relative;
    top: 0.2rem;
}
.jobs .job-card ul .time:before {
    content: url(../images/jobs/clock.png);
    position: relative;
    top: 0.2rem;
}
.jobs .job-card ul .location:before {
    content: url(../images/jobs/location.png);
    position: relative;
    top: 0.2rem;
}
.jobs .job-card:hover {
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.13);
    background-color: #f7f7f7;
    cursor: pointer;
}
.jobs .pagination {
    margin-top: 1.5rem;
    padding-bottom: 2rem;
}
.jobs .pagination li a {
    border: 0;
    font-size: 16px;
    font-family: "scada";
    color: #48cf88;
}
@media only screen and (max-width: 576px) {
    .jobs .job-card ul {
        display: flex;
        flex-direction: column;
    }
    .jobs .job-card ul li {
        list-style-type: none;
        padding: 0;
        padding-top: 0.4rem;
        margin: 0;
    }
    .jobs .job-card ul .time {
        padding-left: 0.3rem;
    }
    .jobs .job-card ul .location {
        padding-left: 0.4rem;
    }
}
/* end job page */

@media screen and ( max-width: 576px) {
	.content {
		background-color: #F6F6F6 !important;
	}
}

/* about */
.about {
    background-color: #F6F6F6;
}
.about .about-page-link {
    display: flex;
    flex-direction: row;
    padding-top: 27px;
}
.about .about-page-link li {
    color: #6b6b6b;
    font-size: 16px;
}
.about .about-title {
    color: #5a4942;
    font-size: 30px;
    font-family: "scada";
    text-transform: uppercase;
    padding-top: 41px;
}
.about .wrapper-about {
    background-color: #fff;
}
.about .wrapper-about .about-info .about-info-tab {
    color: #45c091;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 3rem;
    position: relative;
    top: 1rem;
}
.about .wrapper-about .about-info .about-info-tab i {
    font-size: 25px;
    padding-left: 1rem;
    transition: 0.3s ease;
}
.about .wrapper-about .about-info .about-info-tab .active {
    transform: rotate(90deg);
}
.about .wrapper-about .about-info .about-info-tab:hover {
    text-decoration: none;
}
.about .wrapper-about .about-info .about-info-wrapper {
    display: none;
    transition: 0.3s ease;
    padding: 3rem;
}
.about .wrapper-about .about-info .about-info-wrapper img {
    padding: 0 2rem 2rem 0;
}
.about .wrapper-about .about-info .about-info-wrapper .about-main-text {
    color: #5a4942;
    font-size: 16px;
    font-family: "scada";
}
.about .wrapper-about .about-info .about-info-wrapper .about-main-text span {
    color: #42bb85;
}
.about .wrapper-about .about-info .about-info-active {
    display: block;
}
.about .wrapper-about .about-info .cards-wrapper-about :first-child {
    margin-top: 0;
}
.about .wrapper-about .about-info .card-about-plus {
    border: 0;
    margin-top: 50px;
}
.about .wrapper-about .about-info .card-about-plus .about-card-img {
    border-radius: 5px;
    background-image: linear-gradient(to right, #36967f 0%, #48cf88 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
}
.about .wrapper-about .about-info .card-about-plus .about-card-img img {
    padding: 0;
}
.about .wrapper-about .about-info .card-about-plus .card-text {
    color: #5a4942;
    font-size: 16px;
    font-family: "scada";
    padding-left: 30px;
}
.about .wrapper-about .history .history-tab {
    color: #45c091;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 3rem;
    position: relative;
    top: 1rem;
}
.about .wrapper-about .history .history-tab i {
    font-size: 25px;
    padding-left: 1rem;
    transition: 0.3s ease;
}
.about .wrapper-about .history .history-tab .active {
    transform: rotate(90deg);
}
.about .wrapper-about .history .history-tab:hover {
    text-decoration: none;
}
.about .wrapper-about .history .history-wrapper{
    display: none;
}
.about .wrapper-about .history .history-active{
    display: block;
}
.about .wrapper-about .history .history-wrapper .wrapper-cards{
    display: flex;
}
/* end about */

/* questions */
.questions{
    background-color: #F6F6F6;
}
.questions .questions-page-link {
    display: flex;
    flex-direction: row;
    padding-top: 27px;
}
.questions .questions-page-link li {
    color: #6b6b6b;
    font-size: 12px;
}
.questions .questions-title {
    color: #5a4942;
    font-size: 30px;
    font-family: "scada";
    text-transform: uppercase;
    padding-top: 41px;
}
.questions .wrapper-question{
}
.questions .wrapper-question ul{
    list-style-type: none;
    counter-reset: item;
    font-family: "scada";
}
.questions .wrapper-question ul li::before{
    content: counter(item) ') ';
    counter-increment: item;
    color: #5a4942;
}
.questions .wrapper-question ul .color-mark{
    color: #57af81;
}
.questions .wrapper-question ul li a{
    display: inline-block;
    color: #5a4942;
    font-size: 16px;
}
.questions .wrapper-question ul li a .active-img{
    transform: rotate(90deg);
    transition: .5s ease;
}
.questions .wrapper-question ul li .active-btn{
    color: #57af81;
}
.questions .wrapper-question ul li .wrapper-question-text{
    padding-left: 15px;
}
/* end questions */
/*///////////////////////////PERSONAL-AREA//////////////////////////*/
.personal-area{
    padding-top: 25px;
}
.link-home a{
    color: #747474;
    font-size: 13px;
}
.personal-area-title{
    padding-top: 40px;
    color: #5a4942;
}
.personal-body p,a{
    color: #5a4942;
}
.personal-data ul{
    padding: 0;
    margin: 0;
}
.personal-data ul li{
    padding: 20px 0;
    cursor: pointer;
    list-style-type: none;
    font-weight: 600;
    color: #48cf88;
}
.personal-data ul li.personal-tab-active{
    background-color: #fff;
}
.personal-body{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size:13px;
    font-weight: bold;
}
.personal-body{
    display: none;
}
.personal-active{
    display: block;
}
.personal-body label{
    display: block;
    padding-left: 1rem;
}
.personal-body input{
    width: 90%;
    height: 34px;
    border-radius: 10px;
    border:none;
    background-color: #f6f6f6;
    outline:none;
    margin-bottom: 22px;
    padding-left: 1rem;
}
.personal-body input:last-child{
    margin-bottom: 0;
}
.personal-adres{
    height: 100%;
}
.personal-adres p{
    cursor: pointer;
    margin-top: 50%;
}
.adress{
    position: relative;
}
.adress div input{
    margin-top: 10px;
}
.close-adres{
    position: absolute;
    right: 2rem;
    top: 1.3rem;
    cursor: pointer;
}
.personal-adres i{
    color: #519e76;
    padding-right: 13px;
}
.personal-link{
    padding-top: 1.8rem;
}
/*PERSONAL-TABLE*/
.personal-body tr td{
    width: 26%;
}
.personal-body tr:first-child{
    border-top: none;
}

@media only screen and (max-width: 576px){
    .personal-body input{
        width: 100% !important;
    }
}
/*PERSONAL-TABLE*/

/*BONUS*/
.bonus img{
    padding-top: 47px;
}
.bonus p{
    color: #48cf88;
    font-size: 22px;
    margin-top: 50px;
    font-weight: 500;
}
.bonus button{
    background-color: #5a4942;
    border:none;
    outline: none;
    margin-top: 40px;
    border-radius: 5px;
    padding:13px 33px;
}
.bonus button:hover{
    background-color: #55a77d;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6 !important;}

.table thead tr th,.table tbody tr td{
    border-bottom: 1px solid #dee2e6 !important;
}
/*BONUS*/

/*///favorites-card*/
.favorites .col-lg-3{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.favorites-card{
    padding-top: 70px;
    padding-bottom: 33px;
}
.pills{
    padding-bottom:45px;
}
.favorites-card:hover{
    box-shadow: 0px 1px 12.48px 0.52px rgba(0, 0, 0, 0.09);
    z-index: 10;
}
.favorites-card button{
    background-color: #55a77d;
    border:none;
    padding: 12px 30px;
    border-radius: 5px;
}
.favorites-card button:hover{
    background-color: #5a4942;
}
.favorites-card .btn img{
    margin-right: 20px;
}
.favorites-card span{
    font-size: 20px;
    color: #55a77d;
}
.favorites-card .del-text{
    font-size: 12px;
    font-weight: 500;
    color: #afafaf;
}

.favorites-card .delete-icon{
    font-size: 20px;
    color: #55a77d;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}
.favorites-card .delete-icon:hover{
    transform: rotate(90deg);
    transition: all .3s ease;
}
/*///favorites-card*/
/*///////////////////////////PERSONAL-AREA//////////////////////////*/

/* RAITING  */
.txt-center {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.raiting-r {
    width: 120px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.raiting-r > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.raiting-r > label:hover,
.raiting-r > label:hover ~ label,
.raiting-r > input.radio-btn:checked ~ label {
    color: transparent;
}

.raiting-r > label:hover:before,
.raiting-r > label:hover ~ label:before,
.raiting-r > input.radio-btn:checked ~ label:before,
.raiting-r > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #48cf88;
}
/* END RAITING */



/*  CATALOG-VIEW  */
.modal-drug{
    position: absolute;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 0px 5px 5px 0px;
    top: 0;
    left: 95%;
    z-index: 999;
    display: flex;
    height: 370px;
}
.second-level-menu{
    padding: 0 20px !important;
}
.second-level-menu li{
    border: none !important;
    height: 45px !important;
    padding: 10px 20px !important;
}
.second-level-menu li a{
    font: 11px 'Century Gothic',sans-serif !important;
    color: #818181 !important;
    height: 45px !important;
    width: 150px;
}
.second-level-menu li:hover{
    background: linear-gradient(to bottom, #017b5f 0%, #01a982 100%) !important;
}
.second-level-menu li:hover a{
    color: #FFFFFF !important;
}
.second-level-menu li:hover + .catalog-menu ul li a:hover img{
    margin-top: -50px;
    transition: all .3s ease;
}
.catalog-menu{
    background: #FFFFFF;
    padding: 10px 0;
    border-radius: 5px;
    z-index: 9999;
}
.catalog-menu .title{
    font: 24px 'Century Gothic Bold',sans-serif;
    border-bottom: 1px solid #BBBBBB;
    padding: 0 10px 20px;
    text-align: center;
}
.catalog-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.catalog-menu ul li {
    width: 100%;
    border-bottom: 1px solid #BBBBBB;
    height: 60px;
    padding: 10px;
    overflow: hidden;
}
.catalog-menu ul li:last-child{
    border: none;
}
.catalog-menu ul li a{
    display: flex;
    font: 14px 'Century Gothic',sans-serif;
    color: #818181;
    text-decoration: none;
    height: 60px;
}
.catalog-menu ul li p{
    margin-top: 10px;
    margin-left: 10px;
}
.catalog-menu ul li:hover{
    background: linear-gradient(to bottom, #01a982 0%, #017b5f 100%);
    color: #FFFFFF;
}
.catalog-menu ul li:hover a{
    color: #FFFFFF;
}
.catalog-menu img{
    width: 30px;
}
.catalog-menu ul li a i{
    font-size: 23px;
    color: #55a77d;
    width: 30px;
    margin-right: 10px;
    text-align: center;
}
.catalog-menu ul li a:hover i{
    color: #FFFFFF;
}
.catalog-menu ul li a:hover img{
    margin-top: -50px;
    transition: all .3s ease;
}

/*  END CATALOG-VIEW  */



body{
    background-color: #f6f6f6;
}
/*///////////////////////////PERSONAL-AREA//////////////////////////*/
.personal-area{
    padding-top: 25px;
}
.link-home a{
    color: #747474;
    font-size: 13px;
}
.personal-area-title{
    padding-top: 40px;
    color: #5a4942;
}
.personal-body p,a{
    color: #5a4942;
}
.personal-data ul{
    padding: 0;
    margin: 0;
}
.personal-data ul li{
    padding: 20px 0;
    cursor: pointer;
    list-style-type: none;
    font-weight: 600;
    color: #48cf88;
}
.personal-data ul li.personal-tab-active{
    background-color: #fff;
}
.personal-body{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size:13px;
    font-weight: bold;
}
.personal-body{
    display: none;
}
.personal-active{
    display: block;
}
.personal-body label{
    display: block;
    padding-left: 1rem;
}
.personal-body input{
    width: 90%;
    height: 34px;
    border-radius: 10px;
    border:none;
    background-color: #f6f6f6;
    outline:none;
    margin-bottom: 22px;
    padding-left: 1rem;
}
.personal-body input:last-child{
    margin-bottom: 0;
}
.modal-personal{
    padding:0 40px 30px;
}
.personal-adres{
    cursor: pointer;
}
.modal-personal input{
    width: 100%;
    border-radius: 30px;
    margin-top: 1rem;
    outline: none;
    border:none;
    background-color: #f3f3f3;
    padding:15px 0 15px 22px;
}
.modal-personal .modal-footer{
    display: flex;
    justify-content: space-between;
}
.modal-personal .modal-footer button{
    background: linear-gradient(180deg,#57ae80,#406e58);
    color: #fff;
}
.modal-personal .modal-footer button:hover{
    transition: all .3s ease-in-out;
    background: linear-gradient(180deg,#406e58,#57ae80);
}


.personal-link{
    padding-top: 1.8rem;
}
/*PERSONAL-TABLE*/
.personal-body tr td{
    width: 26%;
}
.personal-body tr:first-child{
    border-top: none;
}

@media only screen and (max-width: 576px){
    .personal-body input{
        width: 100% !important;
    }
}
/*PERSONAL-TABLE*/

/*BONUS*/
.bonus img{
    padding-top: 47px;
}
.bonus p{
    color: #48cf88;
    font-size: 22px;
    margin-top: 50px;
    font-weight: 500;
}
.bonus button{
    background-color: #5a4942;
    border:none;
    outline: none;
    margin-top: 40px;
    border-radius: 5px;
    padding:13px 33px;
}
.bonus button:hover{
    background-color: #55a77d;
}
/*BONUS*/

/*///favorites-card*/
.favorites .col-lg-3{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.favorites-card{
    padding-top: 70px;
    padding-bottom: 33px;
}
.pills{
    padding-bottom:45px;
}
.favorites-card:hover{
    box-shadow: 0px 1px 12.48px 0.52px rgba(0, 0, 0, 0.09);
    z-index: 10;
}
.favorites-card button{
    background-color: #55a77d;
    border:none;
    padding: 12px 30px;
    border-radius: 5px;
}
.favorites-card button:hover{
    background-color: #5a4942;
}
.favorites-card .btn img{
    margin-right: 20px;
}
.favorites-card span{
    font-size: 20px;
    color: #55a77d;
}
.favorites-card .del-text{
    font-size: 12px;
    font-weight: 500;
    color: #afafaf;
}
/*///favorites-card*/
/*///////////////////////////PERSONAL-AREA//////////////////////////*/

/*authorization*/
.authorization h3{
    color:#406e58;
}
.authorization-input input{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #f6f6f6;
    border-bottom:1px solid #406e58;
    width: 100%;
    outline: none;
    padding-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.authorization-input{
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.authorization-input img{
    width: 2rem;
    position: absolute;
    bottom: 1.3rem;
}
.authorization-input img:last-child{
    right: 0;
    cursor: pointer;
}
.authorization-button{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.authorization-button button:first-child{
    background: linear-gradient(180deg,#57ae80,#406e58) !important;
    border:none;
    width: 7rem;
}
.authorization-button button:first-child:hover{
    background: linear-gradient(180deg,#406e58,#57ae80) !important;
}
.authorization-button button:last-child{
    color: #fff;
    background: linear-gradient(#818181,#b3b3b3) !important;
    border:none;
    width: 10rem;
}
.authorization-button button:last-child:hover{
    background: linear-gradient(#b3b3b3,#818181) !important;
}
/*authorization*/

/*Regist*/
.new-adres{
    color: #00A273;
    cursor: pointer;
}
.new-adres:hover{
    text-decoration: underline;
}

.authorization-input i{
    position: absolute;
    right: 0;
    bottom: 1.3rem;
    font-size:25px;
    color: #990000;
    cursor: pointer;
}
.authorization-input i:hover{
    color: red;
}
.regist-btn button{
    color: #fff;
    background: linear-gradient(180deg,#57ae80,#406e58) !important;
    border:none;
    width: 10rem;
}
.regist-btn button:first-child:hover{
    background: linear-gradient(180deg,#406e58,#57ae80) !important;
    color: #fff;
}
.regist-btn{
    margin-top: 2rem;
}
/*Regist*/


.bonus-main__wrapper{
    display: flex;
}
